{% extends "pages/base.html" %}
{% block content_title %}
    {{ title }}
{% endblock %} {# endblock content_title #}

{% block content %}
    <!-- /.row -->
    <div class="row">

        {% if item_1 or item_2 or item_3 %}

            {% load static %}

            <!-- /.panel -->
            <div class="panel panel-default">

                <div class="panel-body">
                    <ul class="timeline">
                        {% if item_1 %}
                            <li>
                                <div class="timeline-badge"><i class="fa fa-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    {% if heading_1 %}
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ heading_1 }}</h4>
                                        </div>
                                    {% endif %}
                                    <div class="timeline-body">
                                        {% if image_before_text_1 %}
                                            {% if image_1 %}<img src="{% static image_1 %}" width="100%">{% endif %}

                                            {% if text_1 %}<br><p>{{ text_1 }}</p>{% endif %}
                                        {% else %}
                                            {% if text_1 %}<p>{{ text_1 }}</p>{% endif %}
                                            {% if image_1 %}<br><br><img src="{% static image_1 %}" width="100%">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% if item_2 %}
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                </div>
                                <div class="timeline-panel">
                                    {% if heading_2 %}
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ heading_2 }}</h4>
                                        </div>
                                    {% endif %}
                                    <div class="timeline-body">
                                        {% if image_before_text_2 %}
                                            {% if image_2 %}<img src="{% static image_2 %}" width="100%">{% endif %}
                                            {% if text_2 %}<br>
                                                <div>{{ text_2 }}</div>{% endif %}
                                        {% else %}
                                            {% if text_2 %}<p>{{ text_2 |safe }}</p>{% endif %}
                                            {% if image_2 %}<br><br><img src="{% static image_2 %}" width="100%">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% if item_3 %}
                            <li>
                                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                </div>
                                <div class="timeline-panel">
                                    {% if heading_3 %}
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ heading_3 }}</h4>
                                        </div>
                                    {% endif %}
                                    <div class="timeline-body">
                                        {% if image_before_text_3 %}
                                            {% if image_3 %}<img src="{% static image_3 %}" width="100%">{% endif %}
                                            {% if text_3 %}<br><p>{{ text_3 }}</p>{% endif %}
                                        {% else %}
                                            {% if text_3 %}<p>{{ text_3 }}</p>{% endif %}
                                            {% if image_3 %}<br><br><img src="{% static image_3 %}" width="100%"  >
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        {% endif %}
    </div>
    <!-- /.row -->
{% endblock %}{# endblock content #}