{% extends "pages/base.html" %}

{% block content_title %}
    Datos
{% endblock %} {# endblock content_title #}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">

                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!-- /.panel -->
            <div class="panel panel-default">

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Extended Reconstructed Sea Surface Temperature (ERSST) v4</h4>
                                </div>
                                <div class="timeline-body">

                                    <p>Publicado por la National Oceanic and Atmospheric Administration (NOAA), esta dataset consiste
                                        en temperaturas de superficie de mar medidas mensualmente a nivel de todo el mundo desde el
                                        año 1880 con datos faltantes llenados con modelos matemáticos que demuestran altos niveles de
                                        precisión con los datos existentes.</p>
                                    <p><a href="https://www.ncdc.noaa.gov/data-access/marineocean-data/extended-reconstructed-sea-surface-temperature-ersst-v4" target="_blank">Descripción de Dataset</a></p>
                                    <p><a href="ftp://ftp.ncdc.noaa.gov/pub/data/noaaglobaltemp/operational/timeseries/" target="_blank">Descargar el Dataset</a></p>


                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">WorldBank - Climate Change Socio-Economic Indicators</h4>
                                </div>
                                <div class="timeline-body">

                                    <p>Publicado por el Banco Mundial, está dataset permite ver tendencias Socio-Económicos y su impacto sobre el Cambio Climático. </p>

                                       <p><a href="http://data.worldbank.org/topic/climate-change" target="_blank">Descripción de Dataset</a></p>
                                       <p><a href="http://api.worldbank.org/v2/en/topic/19?downloadformat=csv" target="_blank">Descargar el Dataset</a></p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">WorldBank - World Development Indicators related to Climate Change</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Publicado por el Banco Mundial, está dataset se trata de relacionar como países se están llevando su desarrollo económico y relacionar el mismo con datos de cambio climático y sus efectos al futuro.</p>

                                        <p><a href="http://databank.worldbank.org/data/reports.aspx?source=2&Topic=19#" target="_blank">Descripción de Dataset</a></p>
                                        <p><a href="http://databank.worldbank.org/data/AjaxDownload/FileDownloadHandler.ashx?filename=67a61c2b-1798-4972-bb7d-cb703503cbb8.zip&filetype=CSV&language=en&displayfile=Data_Extract_From_World_Development_Indicators.zip" target="_blank">Descargar el Dataset</a></p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

    <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
{% endblock %}{# endblock content #}

