{% extends "pages/base.html" %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">CLIMA</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <i class="fa fa-support fa-5x"></i>
                                    <div class="huge"></div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">CLIMA</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">DATOS</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">GRAFICAS</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
              <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        {% if response %}
            <h3>Resultados</h3>
            {% if error %}
                Error: {{ response }}
            {% else %}
                <table style="border: 1px solid white;">
                    {% if header %}
                        <thead>
                            {% for title in header %}
                                <th style="border: 1px solid white;">{{ title }}</th>
                            {% endfor %}
                        </thead>
                    {% endif %}
                    {% for result_row in response %}
                        <tr>
                        {% for result in result_row %}
                            <td style="border: 1px solid white;">
                                {{ result }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">

                    <!-- /.panel -->

                <!-- /.col-lg-8 -->
                <div class="col-lg-4">

                    <!-- /.panel -->

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
{% endblock %} {# end block content #}