{% extends "pages/base.html" %}
{% block content_title %}
    Definicion del Vocabulario
{% endblock %} {# endblock content_title #}

{% block content %}
    <!-- /.row -->
    <div class="row">

            {% load static %}

            <!-- /.panel -->
            <div class="panel panel-default">

                <div class="panel-body">
                   <img src="{% static "img/climate-data-model-graph.png" %}" width="100%">
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

    </div>
    <!-- /.row -->
{% endblock %}{# endblock content #}